.body{
    background-color: #eaecee;
}
  .login-form {
		width: 340px;
    	margin: 100px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
    .error{
        color: red;
    }

    #logout:hover{
        background-color: #5a5454 !important;
    }
    #clears:hover{
        background-color: #5a5454!important;
    }
    label{
        font-weight: 600;
    }
    form{
        padding: 60px;
        border: 2px solid #746d6d !important;
        border-radius: 3px;
    }
    .table .thead-dark th {
        color: #fff;
        background-color: #746d6d!important;
        border-color: #746d6d!important;
        
    }
    .col-md-12{
        padding: 0!important;
    }
    .table-data__tool{
        margin-bottom: 0px !important;
    }
    .ford{
        width: 350px;
    }
    td.red{
        color: #ee1717 !important;
    }
    td.green{
        color: #109e10 !important;
        
    }